body{
    background-color: rgba(0,0,0,1);
    padding: 0;
    width: 100%;
    height: auto;
    min-width: 100%;
    max-height: 100%;
    max-width: 500px;
    margin: auto;
    font-family: "fantasy";
}

.navigation{
    color: #F2AA4CFF;
    background-color: rgba(0,0,0,0.9);
    font-size: 1.5vw;
    width: auto;
    display: flex;
    height: 4vw;
    border-bottom: orange 0.2ch solid;
}

.navigation img{
    width: 2vw;
    height: 1.8vw;
    margin-left : 13%;
    margin-top: 0.7%;
}

.navigation p{
    font-size: 2vw;
}

.navigation li{
    font-size: 1vw;
    float: left;
    margin-top : 1%;
    margin-left : 15%;
    list-style-type: none;
    width: auto;
}

.navigation li a{
    text-decoration: none;
    cursor: pointer;
    color: #F2AA4CFF;

}

.active{
    font-style: italic;
    border-bottom: 0.1vw solid;
}


.logout{
    text-decoration: none;
    cursor: pointer;
    color: #F2AA4CFF;
    font-size: 1.2vw;
    float: right;
    margin-left: 25%;
    margin-top: 0.6%;
}
.price-container{
    max-width: 600px;
    margin: auto;
    background: orange;
    padding: 10px;
}

.price{
    font-size: 24px;
    font-family: "Agency FB";
    text-align: center;
    width: 100%;
}

.middle{
    width: 100%;
    height: 10%;
    position: relative;
    transform: translate(0%,40%);
    text-align: center;
}

.btn{
    color: black;
    background: none;
    border: 0.2vw solid black;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 0.4vw 1vw;
    min-width: 1vw;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    border-radius: 0.2vw;
}

.btn:hover{
    color: white;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
    transform: scaleX(0);
}
.btn1:hover::before{
    transform: scaleX(1);
}